.mainBody{
  background-color: white;
}

.navBarCustom{
  background-color: black;
  height: 50px;
  margin-bottom: auto;
}

.navBrand{
  display: block;
 width: 72px;
 height: 48px;
 margin-left: 12px;
 float: left;
}

.navItemCustom{
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
}

.utility{
  text-decoration: none;
  color: gray;
  position: relative;
  line-height: 48px;
  font-size: 14px;
  padding: 0 12px;
  text-align: center;
  box-sizing: border-box;
}

.utilityButtons{
  background-color: #09f;
  height: 30px;
  padding: 0 12px;
  margin-left: 10px;
}

.container {
  margin-top: 50px;
}


.section-sidebar{
  color: black;
  font-size: 14px;
  position: relative;
  padding-left: 0px;
  padding-right: 100px;
  display: block;
  margin-top: 10px;
  box-sizing: border-box;
  transition: background-color .15s,padding-right .15s;
}

.section-sidebar:hover{
 background-color: black;
}

.section-header{
  line-height: 16px;
  height: 16px;
  margin-bottom: 8px;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}

.labelList{
  height: 36px;
  padding: 8px 0 8px 36px;
  font-size: 14px;
  width: 70%;
}
.tagHeader{
  line-height: 16px;
    height: 16px;
    margin-bottom: 8px;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
}

.footer{
  color: #999;
  display: block;
  margin-right: 4px;
  text-decoration: none;
}
.footer:hover{
  color: #999;
}

.line{
  border: 1px solid ;
  align-self: center;
  width: 75%;
}

.btn{
  margin-bottom: 10px;

}